@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: "Poppins", serif;
  color: #39C5F3;
  box-sizing: border-box;
}

.bar-container {
    position: relative;
    margin:  auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 600px;
    border-radius: 50%;
    background-color: #0E1729;
    height: 600px;
    border: 1px solid black;
    .time-3{
        position: absolute;
        font-size: 36px;
        top: 40.5%;
        left: 95%;
    }
    .time-9{
        position: absolute;
        font-size: 36px;
        top: 40%;
        right: 95%;
    }
    .time-6{
        position: absolute;
        font-size: 36px;
        top: 85%;
        right: 48%;
    }
    .time-12{
        position: absolute;
        font-size: 36px;
        bottom:85%;
        right: 47%;
    }
    
  }
  
  .second {
    position: absolute;
    width: 250px;
    height: 5px;
    z-index: 90;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    background-color: rgb(227, 126, 38);
    transform-origin: 0 50%; 
    
    
  }
  
  .minutes{
    position: absolute;
    width: 220px;
    height: 10px;
    border-radius: 20px;
    z-index: 25;
    left: 50%;
    top: 50%;
    background-color: rgb(112, 110, 108);
    transform-origin: 0 50%; 
    
  }
 
  .hours{
    position: absolute;
    width: 180px;
    height: 10px;
    border-radius: 20px;
    z-index: 20;
    left: 50%;
    top: 50%;
    background-color: rgb(112, 108, 108);
    transform-origin: 0 50%; 
    
    
  }
  
  // .tester{
  //   position: absolute;
  //   width: 250px;
  //   height: 2px;
  //   border-radius: 20px;
  //   left: 50%;
  //   top: 50%;
  //   background-color: rgb(232, 15, 15);
  //   transform-origin: 0 50%; 
  //   transform: rotate(240deg);
  // }

  .bar-container{
    .time-1{
      position: absolute;
      font-size:36px;
      top: -1%;
      left: 71%;
  }
    .time-2{
      position: absolute;
      font-size: 36px;
      top: 18%;
      left: 89%;
    }
    .time-4{
      position: absolute;
      font-size: 36px;
      top: 63%;
      left: 88%;
    }
    .time-5{
      position: absolute;
      font-size: 36px;
      top: 80%;
      left: 71%;
    }
    .time-7{
      position: absolute;
      font-size: 36px;
      top: 80%;
      left: 26%;
    }
    .time-8{
      position: absolute;
      font-size: 36px;
      top: 63%;
      left: 9%;
    }
    .time-10{
      position: absolute;
      font-size: 36px;
      top: 18.5%;
      left: 7%;
    }
    .time-11{
      position: absolute;
      font-size:36px;
      top: 0%;
      left: 24.5%;
      
    }
    .clock-ball{
      position: absolute;
      background-color: rgb(255, 255, 255);
      width: 25px;
      height: 25px;
      z-index: 99;
      border: 2px solid rgba(230, 81, 7, 0.537);
      border-radius: 50%;
      top: 48.1%;
      left: 47.7%;
    }
    .logo{
      position: absolute;
      width: 50%;
      top: 20%;
      left: 25%;
      
      
      
      
    }
  
  }